<div *ngIf(showPaginationControls)>
    <p>Showing {{offsetFromZero}} to {{offsetUpperBound}} records of {{totalNumberOfRecords}}. This is page {{pageNumber}} of
        {{totalNumberOfPages}}.</p>


    <ul class="pagination pagination-sm">
        <li *ngFor="let page of pagesArray">
            <a  (click)="onPageClick(page)">{{page}}</a>
        </li>
    </ul>
 

    <!--
    <ul class="pagination pagination-sm">
        <li *ngFor="let page of pagesArray">
            <a [routerLink]="['ArtiststList']" (click)="pageData(page,paginationData.pageSize,searchTerms,paginationData.sortColumn,paginationData.sortDirection)">{{page}}</a>
        </li>
    </ul>
    -->
</div>