<div *ngIf(showPaginationControls)>
    <p>Showing {{offsetFromZero}} to {{offsetUpperBound}} records of {{totalNumberOfRecords}}. This is page {{pageNumber}} of
        {{totalNumberOfPages}}.
    </p>

    <p> Max pages: {{maxNavigationPagesToDisplay}}</p>

    <ul class="pagination pagination-sm">
        <li *ngIf="(totalNumberOfRecords > pageSize) && (pageNumber == 1)"><a >&lt;&lt; First  &lt; Prev&nbsp; </a></li>
        <li *ngIf="(totalNumberOfRecords > pageSize) && (pageNumber > 1)"><a >&lt;&lt; First</a></li>
        <li *ngIf="(totalNumberOfRecords > pageSize) && (pageNumber > 1)"> <a >&lt;&lt; Prev</a></li>
       
        <li class="inactive" *ngFor="let page of pagesLeftOfCurrentPageArray">
            <a (click)="onPageClick(page)">{{page}}</a>
        </li>

        <li class="active"><a (click)="onPageClick(pageNumber)">{{pageNumber}}</a></li>
        <li class="inactive" *ngFor="let page of pagesRightOfCurrentPageArray">
            <a (click)="onPageClick(page)">{{page}}</a>
        </li>
      
    </ul>

</div>